.button {
  padding: 5px 10px;
  border: 2px solid;
  border-radius: 8px;
  font-size: 1.2em;
  width: fit-content;
  margin: auto;

  &__container {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__outline {
    @each $key,$val in $app-colors {
      &--#{$key} {
        border-color: $val;

        &:hover {
          border-color: tint($val, 10%);
        }

        &.button--clicked:not(.button--disabled) {
          border-color: shade($val, 10%);
        }
      }
    }
  }

  &__main {
    @each $key,$val in $app-colors {
      &--#{$key} {
        background-color: $val;

        &:hover {
          background-color: tint($val, 10%);
        }

        &.button--clicked:not(.button--disabled) {
          background-color: shade($val, 10%);
        }
      }
    }
  }

  &__text {
    @each $key,$val in $app-colors {
      &--#{$key} {
        color: $val;

        &:hover {
          color: tint($val, 10%);
        }

        &.button--clicked:not(.button--disabled) {
          color: shade($val, 10%);
        }
      }
    }
  }

  &--disabled {
    background: $grey-mid;
    border-color: $grey-mid;
    color: $off-white;
    &:hover {
      color: $off-white;
      background: $grey-mid;
      border-color: $grey-mid;
    }
  }
}
