@import "./swiper.scss";

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $page-background;
  background-image: linear-gradient(
    $red-pokemon calc(50% - 6px),
    black calc(50% - 6px),
    black calc(50% + 6px),
    white calc(50% + 6px)
  );
}

.poke-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  border: 12px solid black;
  background-color: $off-white;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.readable {
  max-width: 600px;
  width: 100%;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.error-text {
  color: $red-error;
  font-size: 1em;
  padding: 5px 0;
  visibility: hidden;

  &--show {
    visibility: visible;
  }
}

@each $key,$val in $type-colors {
  .text--#{$key} {
    color: shade($val, 20%);
  }

  .badge--#{$key} {
    color: white;
    display: inline-block;
    background: $val;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    text-shadow: -1px -1px 0 shade($val, 40%), 1px -1px 0 shade($val, 40%), -1px 1px 0 shade($val, 40%), 1px 1px 0 shade($val, 40%);
    letter-spacing: 1px;
    text-transform: capitalize;
  }
}

@each $key,$val in $stat-colors {
  .text--#{$key} {
    color: shade($val, 20%);
  }
}

@each $key,$val in $app-colors {
  .text--#{$key} {
    color: $val;
  }
}

@each $key,$val in $sizes {
  .size--#{$key} {
    font-size: $val;
  }
}
