.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--page-background);
  background-image: linear-gradient(var(--red-pokemon) 49%, black 49%, black 51%, white 51% );
}

.poke-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  border: 15px solid black;
  background-color: var(--off-white);
  position: relative;
}

.readable {
  max-width: 600px;
  width: 100%;
}

.button {
  padding: 5px 10px;
  border: 2px solid;
  border-radius: 8px;
  user-select: none;
  font-size: 1.2em;
  width: fit-content;
  margin: auto;

  &__container {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &--primary {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
  }

  &:hover {
    opacity: 0.8;
  }

  &--disabled {
    background: var(--grey-mid);
    border-color: var(--grey-mid);
    &:hover {
      opacity: 1;
    }
  }
}

.primary-text {
  color: var(--blue-mid);
  font-size: 1.2em;
}

.sub-text {
  color: var(--grey-mid);
  font-size: 0.9em;
}

.error-text {
  color: var(--red-error);
  font-size: 1em;
  padding: 5px 0;
  visibility: hidden;

  &--show {
    visibility: visible;
  }
}

.link--light-bg {
  text-decoration: underline;
  cursor: pointer;
}
