:root {
  --off-white: #EEE;
  --grey-mid: #777;
  --cyan-mid: #19A397;
  --blue-mid: #3565AE;
  --yellow-mid: #FFCA39;
  --red-error: #E55;
  --red-pokemon: #F04037;

  --color-primary: var(--blue-mid);

  --page-background: var(--red-error);
}