
.loading {
  &__container {
    z-index: 90;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $off-white;
  }

  &__ball, &__center {
    border-radius: 100%;
    border: 5px solid black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform-origin: 50% 100%;
    transform: translate(-50%, -50%);
  }

  &__ball {
    background-image: linear-gradient($red-pokemon 49%, black 49%, black 51%, white 51% );
    width: 15em;
    height: 15em;
    animation: wobble 1.8s linear infinite;
  }

  &__center {
    background: $off-white;
    width: 4em;
    height: 4em;
  }
}
  
@keyframes wobble {
  0% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
  5% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  10% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
  15% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  20% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
  35% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  40% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
  45% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
  